$primaryDark: #161616;
$primaryLight: #EDF6F7;

$secondary: #FF9D00;
$special: #FF6A13;

$textDark: #001919;
$textLight: #F7F4ED;
$textTertiary: #FF6A13;

$borderRadius: 4px;

$paddingNormal: 8px;

$marginNormal: 8px;

// UI Library: https://react.semantic-ui.com/